fullName: Blog Practice BE Using Go
codeName: bpbeug-customer
version: 0.0.1
env: development
lang: en

httpConf:
  host: 127.0.0.1
  port: 8100

loggerConf:
  mode:
  level:
  output:

langConf:
  active: en
  srcPath: ../../internal/language/en/language.json

dbConf:
  dsn: santo:sembodo@tcp(127.0.0.1:3306)/blog-parctice-be-using-go?charset=utf8mb4&parseTime=True&loc=Local
  maxOpenConns: 5
  maxIdleConns: 5
  maxIdleTime: 100
  dialect: mysql

redisConf:
  dsn: 127.0.0.1:6379

authConf:
  atSecretKey: OLDWORLDORDER
  rtSecretKey: BLACKSEAOFIGNORANCE

resourceConf:
  pubImgUrlPath: /resource/pub-img
  privImgUrlPath: /resource/priv-img
  pubImgDir: ../../resource/pub-img
  privImgDir: ../../resource/priv-img
